__pycache__/
*.pyc
*.pyo
*.log
.env
.env.*
input/
output/
models/
controlnet/
loras/
checkpoints/
text_encoders/
diffusers/
vae/
vae_approx/
clip/
clip_vision/
photomaker/
upscale_models/
audio_encoders/
hypernetworks/
embeddings/
model_patches/
unet/
custom_nodes/ComfyUI_IPAdapter_plus/models/
downloads.pid
*.safetensors
*.pt
*.pth
*.bin
NAI_vpred_fix.safetensors
